$font-family: "Poppins", sans-serif;

$fs-small: 0.9rem;
$fs-normal: 1rem;
$fs-medium: 1.3rem;
$fs-large: 2rem;

$text-color: #000;
$text-color-alt: #fff;

$body-bg-clr: #f1edea;
$bg-clr: #86C3B4;
$bg-clr-alt: #E7845B;
