@use "hero";
@use "form";
@use "countdown";
@use "photo-gallery";
@import "custom-variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $body-bg-clr;
  color: $text-color;
}

/* BACK TO TOP BUTTON */
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: $bg-clr;
  color: $text-color-alt;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#btnScrollToTop:hover {
  background-color:  $bg-clr-alt;
}

/* PROJECT ATTRIBUTION */
.attribution {
  font-size: 12px;
  padding: 60px 0;
  text-align: center;

  a {
    text-decoration: none;
    color: $bg-clr;
  }
}