@use "hero";
@use "countdown";
@import "custom-variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  background-color: $body-bg-clr;
  color: $text-color;
}